.searchbar
  position relative
  width 100%
  min-height 1.5rem
  z-index 100
  pointer-events all
  margin-bottom 1rem
  & button
    min-width 60px
    padding: 4px;
    margin 1rem auto


.dropbtn
  background-color: gold
  color: black;
  font-size 14px
  font-weight 900
  border: none;
  cursor: pointer;
  box-shadow: 0px 0px 2px 2px white;

.dropbtn:hover, .dropbtn:focus
  background-color: #fff035
#myDropdown
  position absolute
  width 20rem
#myInput
  //border-box: box-sizing;
  background-image: url('assets/images/search.svg');
  background-position: 2px 3px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 8px 8px 8px 30px;
  border: none;
  border-bottom: 1px solid #ddd;
  z-index 1002
  width 100%
  position sticky
  top 0px


#myInput:hover {outline: 3px solid #ddd;}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6)
  width: 13rem;
  border: 1px solid #ddd;
  z-index: 1000;
  max-height 11rem
  overflow-y scroll
  +mq('bp-4')
    max-height 22rem


.dropdown-content a.dept_list
  color: black;
  font-family "Helvetica Neue", Helvetica, Arial, sans-serif
  font-size 0.9rem
  padding: 9px 10px;
  text-decoration: none;
  display: block;
  border-bottom 1px solid #bbb

  &:hover
    color #333
    background-color: rgba(255, 255, 255, 0.9)

.myDropdownList
  background-color rgba(255, 255, 255, 0.8)
  display none
  &.show
    display: block




