<section class="section" id="footer_section">
<div class="container footer">
    <div class="row">
        <div class="col-12 col-md-8 offset-md-2 footer_byline">
            <p class="pubdate"><i>{{copy.pubDate}}</i></p>
            <p class="credits"><b>Credits:</b> </p>
            {{#each copy.authorBio}}
                <p class="author-bio">{{{value}}}</p>
            {{/each}}
        </div>
        <div class="col-12 col-md-8 offset-md-2 read_more">
            <!--<p class="readMore"><b>Read More:</b> </p>-->
            <!--{{#each copy.readMore}}-->
                <!--<p class="author-bio">{{{value}}}</p>-->
            <!--{{/each}}-->
        </div>
    </div>
</div>
<div class="commentlist">
    <div class="fb-comments" data-href="https://projects.nj.com/investigations/for-a-girl/index.html" data-width="100%" data-numposts="5"></div>
</div>

</section>
