<div class="all_card" id="opening">
    <section class="jumbotron text-center">
        <div class="container_fluid hed_dek">
            <div class="row">
                <div class="col-12 col-md-6 offset-md-3 hed_dek_section">
                    <h1 class="title">{{{copy.hed}}}</h1>
                    <p class="dek">
                        {{copy.dek}}
                    </p>
                    <p class="intro__byline">{{{copy.byline}}}</p>
                </div>
            </div>
        </div>
    </section>
</div>